.newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-repeat: repeat;
    background-position: left;
    background-color: var(--secondary-bg);
    padding: 20px 60px;
    height: 160px;

    @media screen and (max-width: "577px") {
        padding: 40px 20px;
        height: 260px;
    }
    .newstext {
        h4 {
            font-size: 22px;
            font-weight: 700;
            color: var(--gray-100);
        }

        p {
            font-size: 14px;
            font-weight: 600;
            color: var(--gray-200);
            padding: 15px 0;
        }

        span {
            color: var(--span);
            padding: 3px;
        }
    }

    .form {
        display: flex;
        width: 40%;
        @media screen and (max-width: "999px") {
            width: 70%;
        }
        @media screen and (max-width: "720px") {
            width: 100%;
        }

        input {
            height: 3.125rem;
            padding: 0 1.25em;
            font-size: 14px;
            width: 100%;
            border: 1px solid transparent;
            border-radius: 4px;
            outline: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            &::placeholder {
                color: var(--gray-400);
            }
        }

        button {
            background-color: var(--midnight-navy);
            color: var(--gray-100);
            white-space: nowrap;
            font-size: 14px;
            font-weight: 600;
            padding: 15px 30px;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
            border: none;
            outline: none;
            transition: 0.2s;
        }
    }
}
