.modal {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--tertiary-bg);
    padding: 20px;
    border-radius: var(--border-radius-6);

    display: flex;
    justify-content: center;
    flex-direction: column;

    .icon-container {
        padding-bottom: 26px;
        .back-icon-container {
            cursor: pointer;
            .back-icon {
                color: var(--midnight-navy);
            }
            span {
                font-family: var(--Inknut-Antiqua);
                font-size: 14px;
                color: var(--midnight-navy);
            }
        }

        .close-icon-container {
            margin-left: auto;
            .close-icon {
                color: var(--red-500);
            }
        }
    }
}
